<app-navigator></app-navigator>
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register(msg)">
    <div>
      <label>نام کاربری</label>
      <input
        type="text"
        name="user-name"
        [formControlName]="'username'"
        required
      />
    </div>
    <div>
      <h6 *ngIf="registerForm.get('username').hasError('required')">
        نام کاربری الزامی است
      </h6>
      <h6 *ngIf="registerForm.get('username').hasError('minlength')">
        نام کاربری باید حداقل 4 کاراکتر باشد
      </h6>
    </div>
    <div>
      <label>ایمیل</label>
      <input type="email" name="email" [formControlName]="'email'" required />
    </div>
    <div>
      <label>کلمه عبور</label>
      <input
        type="password"
        name="password"
        [formControlName]="'password'"
        required
      />
    </div>
    <div>
      <label>تکرار کلمه عبور</label>
      <input
        type="password"
        name="passwordrepeat"
        [formControlName]="'passrepeat'"
        required
      />
    </div>
    <div>
      <h6 *ngIf="showMsg">کلمه عبور، با تکرار آن همخوانی ندارد</h6>
    </div>
    <input
      class="btn"
      type="submit"
      name="register"
      value="ثبت نام"
      [disabled]="!registerForm.valid"
    />
  </form>
</div>
