* {
  direction: rtl;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  margin-bottom: 2rem;
  float: right;
}

.info {
  text-align: center;
  color: black;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  margin-left: 0 0.7rem;
  font-size: 1rem;
}
.info > img {
  width: 2rem;
  height: 2rem;
}
.info > p {
  margin: auto;
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  margin: 0 0.7rem;
  cursor: pointer;
  font-size: 1rem;
}

a:hover {
  background: #afa;
}

.svg {
  height: 20px;
}
