<div class="container">
  <div class="info">
    <img
      class="svg"
      src="../../../assets/svg/user-circle-regular.svg"
      alt="my info"
    />
    <p>{{ user.username }}</p>
    <p>اعتبار حساب : {{ user.credit }}</p>
  </div>
  <a routerLink="/" *ngIf="isAdvisor">
    <img
      class="svg"
      src="../../../assets/svg/clock-solid.svg"
      alt="my appointments"
    />
    برنامه‌ی قرارهای من</a
  >
  <a routerLink="/" *ngIf="isAdvisor">
    <img
      class="svg"
      src="../../../assets/svg/calendar-alt-solid.svg"
      alt="schedule"
    />
    تنظیم برنامه‌ی زمانی</a
  >
  <a routerLink="/advisors">
    <img class="svg" src="../../../assets/svg/users-solid.svg" alt="advisors" />
    لیست مشاوران</a
  >
  <a routerLink="/">
    <img
      class="svg"
      src="../../../assets/svg/clock-solid.svg"
      alt="my appointments"
    />
    قرارهای مشاوره</a
  >
  <a routerLink="/">
    <img class="svg" src="../../../assets/svg/star-solid.svg" alt="rate" />
    ثبت نظر</a
  >
  <a routerLink="/upgrade" *ngIf="!isAdvisor">
    <img
      class="svg"
      src="../../../assets/svg/user-md-solid.svg"
      alt="upgrade"
    />
    ارتقا به مشاور</a
  >
</div>
