<app-navigator></app-navigator>
<div class="banner w3-center">
  <div class="banner-title">
    <h1>
      پرتال سای کر پلتفرمی برای مشاوره الکترونیکی
    </h1>
  </div>
</div>
<div class="card w3-container w3-margin-top">
  <header class="w3-text-green w3-center">
    <p>اعضای تیم</p>
  </header>
  <div class="row-padding">
    <div class="w3-third">
      <div class="w3-card w3-padding">
        <header>
          <img
            class="w3-circle w3-image"
            src="https://freesvg.org/img/cliente.png"
            alt="armin"
          />
        </header>
        <div class="w3-center">
          <p>Armin Rostami</p>
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-padding">
        <header>
          <img
            class="w3-circle w3-image"
            src="https://freesvg.org/img/cliente.png"
            alt="saman"
          />
        </header>
        <div class="w3-center">
          <p>Saman Nahavandipoor</p>
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-padding">
        <header>
          <img
            class="w3-circle w3-image"
            src="https://freesvg.org/img/cliente.png"
            alt="reza"
          />
        </header>
        <div class="w3-center">
          <p>Reza Mohammadi</p>
        </div>
      </div>
    </div>
  </div>
</div>
