<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="attemptLogin()">
    <div>
      <label>نام کاربری</label>
      <input
        type="text"
        name="user-name"
        [formControlName]="'username'"
        required
      />
    </div>
    <div>
      <label>کلمه عبور</label>
      <input
        type="password"
        name="password"
        [formControlName]="'password'"
        required
      />
    </div>
    <a routerLink="/forgot">رمز عبور خود را فراموش کرده‌‌اید ؟</a>
    <button class="btn" type="submit" name="register">ورود</button>
  </form>
</div>
