<app-navigator></app-navigator>
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="attemptLogin()">
    <div>
      <label
        >نام کاربری
        <span
          [ngClass]="{
            'become-red': loginForm.get('username').hasError('required')
          }"
          >*</span
        >
      </label>
      <input
        type="text"
        name="user-name"
        [formControlName]="'username'"
        required
      />
    </div>
    <div>
      <label
        >کلمه عبور
        <span
          [ngClass]="{
            'become-red': loginForm.get('username').hasError('required')
          }"
          >*</span
        >
      </label>
      <input
        type="password"
        name="password"
        [formControlName]="'password'"
        required
      />
    </div>
    <a routerLink="/forgot">رمز عبور خود را فراموش کرده‌‌اید ؟</a>
    <button class="btn" type="submit" name="login" [disabled]="!loginForm.valid">ورود</button>
  </form>
  <div class="container">
    <p style="color: red;">{{error}}</p>
  </div>
  
</div>
