<app-navigator></app-navigator>
<section class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird w3-right-align">
      <h1>پرتال آنلاین مشاوره های تخصصی</h1>
      <h5 class="w3-padding-32">
        این پرتال، ارائه دهنده یک سرویس مشاوره است که به شما این امکان را می دهد
        که در هر زمان و به راحتی، با توجه به نیاز خود مشاوره های خصوصی دریافت
        کنید
      </h5>

      <p class="w3-text-grey">
        پرتال ما، مخصوص افرادی ست که به دنبال جلسات مشاوره به صورت خصوصی و از
        طریق تماس تلفنی یا پیام‌های متنی هستند. لیست مشاوران را مشاهده کنید،
        زمان مورد نظر را انتخاب کنید و از طریق یکی از پل های ارتباطی، با مشاور
        خود مکالمه کنید
      </p>
      <a
        routerLink="/register"
        class="w3-button w3-large w3-margin-top w3-teal w3-round-large w3-left"
      >
        همین الان ثبت نام کن
      </a>
    </div>

    <div class="w3-third w3-center">
      <img
        src="../../../../assets/svg/clinic-medical-solid.svg"
        alt="medical"
        style="height: 250px;"
      />
    </div>
  </div>
</section>
<section class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img
        src="../../../../assets/svg/user-md-solid - green.svg"
        alt="advisor"
        style="height: 250px;"
      />
    </div>

    <div class="w3-twothird w3-right-align">
      <h1>به تیم مشاوران ما بپیوندید</h1>
      <h5 class="w3-padding-32">
        اگر در زمینه روانشناسی تخصص دارید و مایل به همکاری با ما در جهت ارتقا
        سطح سلامت جامعه هستید، می توانید به تیم متخصصان ما ملحق شوید
      </h5>

      <p class="w3-text-grey">
        پس از ثبت نام می توانید از طریق ارسال مدارک معتبر جهت اعتبار سنجی، یکی
        از اعضای تیم مشاوران ما شوید
      </p>
    </div>
  </div>
</section>
<section class="w3-row-padding w3-padding-48 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img
        class="svg-small"
        src="../../../../assets/svg/comment-medical-solid.svg"
        alt="conversation"
      />
      <p class="quote">
        از طریق کانال های ارتباطی مختلف با مشاور خود در ارتباط باشید
      </p>
    </div>
    <div class="w3-third w3-center">
      <img
        class="svg-small"
        src="../../../../assets/svg/star-solid.svg"
        alt="rate"
      />
      <p class="quote">
        عملکرد مشاوران را ارزیابی و به آنها امتیاز دهید
      </p>
    </div>
    <div class="w3-third w3-center">
      <img
        class="svg-small"
        src="../../../../assets/svg/user-plus-solid.svg"
        alt="change advisor"
      />
      <p class="quote">
        در صورت نارضایتی، به راحتی مشاور خود را تغییر دهید
      </p>
    </div>
  </div>
</section>
