<app-navigator></app-navigator>
<div>
  <section>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aut
        earum obcaecati asperiores qui numquam aperiam. Error tenetur quidem
        autem neque molestias sit obcaecati sunt earum quisquam quae, pariatur,
        in quis at sed. Dicta eligendi debitis ipsam, optio nemo perspiciatis,
        praesentium fugiat laboriosam nisi fugit nihil quisquam modi saepe
        consequuntur cumque iure quasi. Odio ea, qui, illo at cupiditate iste
        beatae dolorem facilis quasi eum necessitatibus voluptas laboriosam
        maiores, animi accusantium esse? Minima soluta quaerat nihil illo ipsa
        velit harum dolore atque fugit aliquid facilis, cumque est a totam
        magnam eveniet debitis molestiae assumenda repudiandae aperiam.
        Officiis, ipsum. Ex, tempore?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, quas
        architecto! Minus quae repudiandae enim fuga nihil voluptatem quos,
        nesciunt recusandae repellendus iure possimus architecto ducimus rerum
        quibusdam optio aperiam, ipsam, et sunt necessitatibus odio sequi nemo
        numquam aut. Aperiam odit obcaecati at tempore, aliquam quasi accusamus
        saepe. Pariatur nisi nam dignissimos debitis, placeat labore deleniti.
        Aliquam quam voluptatum atque alias hic, enim consectetur ipsum eum
        quasi unde nemo aspernatur, amet corporis quo repellat? Ratione laborum
        ipsum qui veniam minima nobis quia? Numquam rem amet, harum repellendus
        maiores cupiditate doloribus totam unde eos itaque debitis ullam vel
        fuga accusamus est!
      </p>
    </div>
    <img
      src="../../../../assets/headerBG.jpg"
      alt="random image ..."
      style="width: 200px; height: 300px;"
    />
  </section>
</div>
