@import "../../../../assets/w3.css";

* {
  direction: rtl;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  float: left;
  width: 80%;
}
