@import "../../../../assets/w3.css";

* {
  direction: rtl;
}

img {
  max-height: 6em;
}

.container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  float: left;
  width: 80%;
}
